/* Typography */
h1 {
    
}

/* Header */
.header {
    width: 100%;
    text-align: center;
    height: 80px;
    background: #2196F3;
    padding: 8px;
    z-index: 99999;
    color: white;
}

.header > .container {
    width: 1200px;
}

.header > .container img {
    height: 80px;
}

.header > .container > .row > .one-half:nth-child(2) {
    line-height: 50px;
}

/* Body */
body {
    margin: 0;
    overflow: scroll;
}

@media(min-width: 800px) {
    body{
        overflow-x: hidden;
    }
}

/* Buttons */
a.ghost {
    color:#f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

a.ghost:hover, a.ghost:focus {
    background-color:#f5f5f5;
    color: #000;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

/* hr */

hr {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr:after {
	content: '\002692';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;
}

/* loading */

.overlay {
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.84);
    position: absolute;
    padding: 10px 0 0 0;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    text-align: center;
    color: white;
    border: 1px;
    border-radius: 3px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.overlay > * {
    display: inline-block;
}

.overlay > p {
    vertical-align: middle;
    padding: 8px;
    text-transform: uppercase;
}

/* Footer */

footer {
    text-align: center;
}